/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
} 


.profile {
    display: flex;
    flex-direction: row;
    gap: 2em

}

.profile-image {
  border-radius: 50%;
  border: 10px solid #107d5d;

} 

.profile-image img {
    width: auto; height: 88%; 
    margin-left: auto;
    margin-right: auto;
}



