/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
} 


.profile {
   display: flex;
   flex-direction: row;
   gap: 2em; 
}

.profile-image {
  border-radius: 50%;
  border: 10px solid #107d5d;

} 

.profile-image img {
    width: auto; height: 88%; 
    margin-left: auto;
    margin-right: auto;
}


.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 5px;
    
    padding-block: 5px;
    width:min(95%, 70em);
    margin-inline: auto;

    
}

.gallery-image {
    max-width: 100%;
    height: auto;   
}



#shadow {
    transition: all infinite ease-in;
} 

#shadow:hover {
    filter: brightness(80%);

} 

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #66727a;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}